$width: 6px;
$length: 400px;
$tip-width: 15px;
$arrow-color: #333;

.tip {
	content: " ";
	position: absolute;
	width: 0; 
	height: 0;
}

view-arrow {
  display: block;
  background: $arrow-color;
  margin: 50px;
  position: relative;

  &.right {
		width: $length;
		height: $width;

		&::after {
			@extend .tip;
			right: 0px;
			margin-top: -12.5px;
			margin-right: -$tip-width;
			border-top: $tip-width solid transparent;
			border-bottom: $tip-width solid transparent; 
			
			border-left: $tip-width solid $arrow-color; 
		}
	}

	&.down {
		width: $width;
		height: $length;

		&::after {
			@extend .tip;
			top: 100%;
			margin-left: -12.5px;
			border-left: $tip-width solid transparent;
			border-right: $tip-width solid transparent; 
			border-top: $tip-width solid $arrow-color;
		}
	}

	.percentage {
		color: #f5f5f5;
		background: $arrow-color;
		width: 60px;
		padding: 0 10px 5px 10px;
		font-size: 20px;
		text-align: left;
		margin: 20px 0 0 20px;
		position: absolute;
		border-radius: 20px;

		&::after {
			@extend .tip;
			float: left;
			margin-left: -20px;
			left: 50%;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent; 
			
			border-bottom: 10px solid $arrow-color; 
			margin-top: -7px;
		}
	}
}
